<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Arcus Simulations" />
  <meta name="keywords" content="ray-tracing" />
  <meta name="author" content="Hans Moritz G&uuml;nther" />
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="css/origo.css" title="Origo" media="all" />
  <title>{{title | default("Moritz' ARUCS ray-trace simulations") }}</title>
  {% block head %} {% endblock %}
</head>

<body class="light blue smaller freestyle01">
<div id="layout">
 
  <div class="row smaller">
    <div class="col c5 smaller">
      <h1><a href="index.html">Lynx ray-traces</a></h1>
    </div>
    
    <div class="col c7 aligncenter">
      <p class="slogan">contact <a href="mailto:hgunther@mit.edu">Moritz</a> for more details</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col c12 aligncenter">
      <img src="images/lynx.png" width="960" height="240" alt="" />
    </div>
  </div>
 
  <div class="row">
    <div class="col c2 alignleft">
      <ul class="menu">
	{% for level1 in pages %}
	<li><a {% if level1.href == active_page %} class="current"{% endif %}
	       href="{{level1.href|e}}.html">{{level1.caption|e}}</a>
	  {% if level1.children is defined %}
	  <ul class="subpages">
            {% for level2 in level1.children %}
	    <li><a {% if level2.href == active_page %} class="current"{% endif %}
	       href="{{level2.href|e}}.html">{{level2.caption|e}}</a></li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	</li>
	{% endfor %}
    </div>
    {% block main %} {% endblock %}
  </div>
 
  <div id="footer" class="row">
    <div class="col c12 aligncenter">
      <h3>&copy; 2017 MIT / Moritz G&uuml;nther</h3>
      <p><a href="http://andreasviklund.com/templates/origo/">Template design</a> by <a href="http://andreasviklund.com/">Andreas Viklund</a><br />
    </div>
  </div>
 </div>
</body>
</html>
