{% extends "basic3.html" %}

{% block maincontent %}
<p>
Landing page for Moritz's Lynx ray-traces. Use the navigation bar on the
left. Please send any comments to hgunther [at] mit [dot] edu
</p>

<p>
Please let me know if you need high-resolution versions of any of the plots or
the data to recreate the plot. Note that the website only displays plots, not
the actual data (fits file), that would be too big for this space. 
</p>

<p>I will update this website with any substantial new run of my simulations
and I will also add material to it as a look at more aspects, but please
remember that this is a work in progress. There are several things worth
cleaning up (e.g. display the version of the software used to make the 3d
plots).</p>

<p>
Here is the pointer to the software used:
 <ul>
  <li>My general ray-trace code <a href="http://marxs.readthedocs.io/en/latest/index.html">MARXS</a></li>
  <li>Ray-trace code <a href="https://github.com/hamogu/marxs-lynx">specific to Lynx</a></li>
</ul> 
</p>
{% endblock %}
